[Unit]
Description=Startup video feed and path overlay

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=sh /home/pi/team-alex-ppat/camerafeed.sh
ExecStop=sh /home/pi/team-alex-ppat/stopcamerafeed.sh
RestartSec=10s
KillMode=process
TimeoutSec=10s

[Install]
WantedBy=graphical.target
